{
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "htmlWhitespaceSensitivity": "css",
  "htmlVoidTags": [
    "area",
    "base",
    "br",
    "col",
    "embed",
    "hr",
    "img",
    "input",
    "link",
    "meta",
    "param",
    "source",
    "track",
    "wbr"
  ]
}
